name: navidrome

services:
  navidrome:
    container_name: navidrome
    environment:
      ND_BASEURL: https://navidrome.welles.app
      ND_SCANNER_PURGEMISSING: always
      ND_SCANNER_SCHEDULE: "0 5 * * *"
    image: deluan/navidrome:latest
    networks:
      navidrome:
        ipv4_address: 10.10.3.10
    ports:
      - 50030:4533/tcp
    secrets:
      - navidrome
    volumes:
      - /mnt/bucket/apps/navidrome:/data
      - /mnt/tank/music:/music

networks:
  navidrome:
    name: navidrome
    driver: bridge
    enable_ipv6: false
    ipam:
      config:
        - subnet: 10.10.3.0/24

secrets:
  navidrome:
    file: /run/secrets/navidrome
